{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    Andrzej Sadowski <br><br><br>
One day or day one...<br>
...to make something incredble<br>

{#
Kiedyś, czy teraz...
... stworzy coś niesamowitego
#}
  </div>
</div>

<br><br><br><br>

<h2>Projekty</h2>
<hr>
<div class="row">
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
</div>

<br><br><br><br>

<h2 id="technologie">Technologie</h2>
<hr>
<div class="row">
    <div class="col-sm-4">
      <img src="">
      <h4>OOP PHP 7</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
    <div class="col-sm-4">
      <img src="">
      <h4>Tytuł projektu</h4>
      <a href="">link</a>
    </div>
</div>



{% endblock %}
