{% extends "base.html.twig" %}

{% block stylesheets %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
  <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
  
{{ form_start(form) }}
{{ form_end(form) }}

<p class="mt-5 mb-3 text-muted">&copy; {{ "now"|date("Y") }}</p>
{% endblock %}
