{% extends "base.html.twig" %}


{% block nav %}
	<a href="{{ url('panel')}}">Panel</a>
	<a href="{{ url('kategorie')}}">Kategorie</a>
	<a href="{{ url('wpisy')}}">wpisy</a>
	<a href="{{ url('wyloguj')}}">Wyloguj</a>

{% endblock %}

{% block body %}
Witaj w panelu InterCMS. Tutaj zarządzisz treścią jaka znajduje się na stronie.
{% endblock %}